
/* header related styles */
header{
    background-image: url('../images/banner/banner3.png');
    height:100vh;
	background-size:100%;
	background-repeat:no-repeat;
}
.banner{
   
    width: 500px;
    float: right;
    text-align: right;
    color: #FFF;
    padding: 250px;
    width: 300px;

}
.banner-title{
    font-size: 40px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.banner-description{
    font-size: 10px;
    font-weight: 100;

}
.btn-primary{
    padding: 10px;
    color: #005FAC;
    font-weight: 500;
}
/* failure of previous related styles */
.failure{
    display: flex;
}